




<style>
    #Footer {
        position: unset !important;
    }
</style>
<style>
    .fileDownloading {
        pointer-events: none;
        cursor: not-allowed;
        position: relative;
    }

        .fileDownloading:after {
            content: "";
            background: url(/Content/Theme/dist/img/ajax-loader.gif) no-repeat;
            background-size: contain;
            position: absolute;
            top: 40%;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 50px;
            z-index: 99999;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .fileDownloading:before {
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            position: absolute;
            background: rgba(255,255,255,0.8);
            height: 100%;
            width: 100%;
            z-index: 1;
            z-index: 9999;
        }




    @media (max-width: 768px) {
        .all-requests .custom-table {
            padding-bottom: 105px !important;
        }
    }
</style>

<div class="container p-top-sm" id='divToSend' ng-class="{'fileDownloading':IsDownloading==true}">
    <div class="row" ng-show="page.thereIsData">
        <div class="custom-member-details">
            <div id='newprint' pdf-save-content="newprint">
                <div class="clearfix"></div>
                <div class="col-xs-12 custom-member-content">
                    <div id="contentDiv">
                        <!--<iframe style="height: 900px;width:100%" ng-src="{{pdfContent}}"></iframe>-->
                        <iframe id="pdfviewer" scrolling="no" type="text/html" allowfullscreen style="width: 100%;min-height: 1000px;"
                                ng-src="{{previewData}}"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center margin-bottom-30 m-top-md">
            <button type="button" id="ddownload" ng-click="download()" class="btn btn-primary sp-main-button">
                <i class="fa fa-download"></i>&nbsp;تحميل
            </button>
            <a type="button" id="ddownload" href="/#/Non-Members/Home/2" class="btn btn-primary sp-main-button">
                <i class="fa fa-arrow-right"></i> &nbsp;عوده
            </a>
        </div>
    </div>
    <div ng-hide="page.thereIsData" class="p-top-lg">
        <div ng-show="page.showLoad" class="text-center" data-loading>
            <img src="../../../Content/Theme/dist/img/ajax-loader.gif" style="width: 80px;margin-top:50px;">
        </div>
        <div class="col-md-12" ng-show="page.noData">
            <div class="note note-danger" style="text-align:center !important">
                عفواً . لا توجـد بيانات.
            </div>
            <div ng-show="!page.showLoad" class="text-center margin-bottom-30">
                <site-footer back="عوده"></site-footer>
            </div>
        </div>
    </div>
</div>
    <style>
        contentDiv {
            margin-top: 8px !important;
            min-height: 267px !important;
        }

        #contentDiv .footer-note {
            padding-top: 15px !important;
        }

        iframe.hidden {
            display: none
        }
    </style>

    <iframe id="pdf-frame" name="pdf-frame" width="0" height="0" tabindex="-1" title="empty" class="hidden"></iframe>
