

        <div class="wizard-first-step">

            <div class="row">
                <div class="col-md-12">
                    <p>
                    <blockquote class="text-center bold">أولا: قراءة الإقرار التالي والموافقة عليه</blockquote>
                    <br />
                    إقرار طلب اجراء مسابقة تجاريه
                    <br />
                    بناء على المادة التاسعة عشر من نظام لائحة مكافحة الغش التجاري بالقرار الوزاري رقم (155) وتاريخ 06/01/1431هـ<br />
                    لا يجوز للمُنشآت التجاريّة إجراء مُسابقة تجاريّة أو الإعلان عنها إلا بعد الحصول على ترخيص بذلك من الوزارة أو فرعها المُختصّ وفقاً لما يلّي: :-<br />
                    ١.  تتقدّم المُنشأة لفرع الوزارة المُختصّ تبعاً للمقّر الرئيسي للمُنشأة بطلب إجراء المُسابقة والإعلان عنها قبل الموعد المُحدّد لبدئها بخمسة عشر يوماً. .<br />
                    ٢.  يجب أن يشتمل طلب الترخيص بالمُسابقة على البيانات التالّية:-<br />
                    أ ـ موضوع المُسابقة والغرض منها.<br />
                    ب ـ النطاق المكاني للمُسابقة<br />
                    ج ـ تاريخ بدايّة المُسابقة وتاريخ انتهائها على أن لا تتجاوز (٦٠) يوماً.<br />
                    د ـ تاريخ إعلان نتائج المُسابقة والموعد المُحدّد لتوزيع الجوائز على أن لا يتجاوز (٣٠) يوماً من تاريخ انتهاء ال مُسابقة.<br />
                    هـ ـ برنامج المُسابقة وطريقة الاشتراك فيها بطريقةٍ واضحةٍ.<br />
                    و ـ الجوائز المُقدّمة للمُسابقة مع ما يُثبت ملكيّتها.<br />
                    ز ـ عدد قسائم المُسابقة ونموذج منها.<br />
                    ٣.  تتولّى الغرفة مُراجعة الطلب خلال فترة لا تتجاوز (٧) أيام من تاريخ تقديمه وفي حالة توفر الشروط يصدر الترخيص وفي حالة رفض الطلب تُبلّغ المُنشأة بالرفض مع إيضاح أسباب الرفض وذلك خلال (7 ) أيام من تاريخ تقديم الطلب..<br />
                    ٤.  يجب أن يتضمّن الترخيص اسم المُرخّص له بالمُسابقة وتاريخ بدايتها ونهايتها ونطاقها المكاني.<br />
                    ٥.  يحقّ للمُنشأة التجاريّة الحصول على ترخيص بإقامة المُسابقة مرتين في السنة على ألا تزيد مُدّة المُسابقة على (٦٠) يوماً في كل مرّة.<br />
                    ٦.  يجب ألا تُشترط المُسابقة الشراء كشرطٍ للاشتراك فيها أو وضع قسيمة المُسابقة داخل السلعة.<br />
                    ٧.  يجب عدم زيادة الثمن السائد للسلعة أثناء المُسابقة.<br />
                    ٨.  عند تكرار فوز مُتسابقّ واحد بأكثر من جائزة فيُكتفى بأول جائزة حصل عليها.<br />
                    ٩.  لا يجوز لمن صدر له الترخيص أو لأولاده أو زوجه أو والديه أو للعاملين لديه الاشتراك في المُسابقة.<br />
                    ١٠. لا يجوز أن تتضمّن المُسابقة ما يخل بمبادئ الشريعة والأعراف المرعيّة في المملكّة.<br />
                    ١١.  تُشكَّل لجّنة لفرز نتائج المُسابقة برئاسة مندوب الغُرفة التجاريّة الصناعيّة.<br />
                    ١٢.  تقوم اللجّنة بإعداد محضرٍ بنتائج المُسابقة وأسماء الفائزين وعناوينهم والجوائز التي حصلوا عليها، على أن تُعلن نتائج المُسابقة لمرةٍ واحدةٍ على الأقل في الوسيلة الإعلانيّة التي أعُلن عن المُسابقة فيها.<br />
                    ١٣.  على المُنشأة تسليم الجوائز للفائزين خلال مُدّة لا تزيد على (٧) أيام من تاريخ فرز النتائج.<br />
                    ١٤. يجب ذكر رقم الترخيص في الحملات الإعلانية عن المُسابقة.
                    </p>
                </div>
            </div>

        </div>

    
