<div class="wizard-third-step">

                        <div class="form-box">
                            <div class="row">

                                <div class="col-xs-12  col-md-6">
                                    <div class="custom-title">
                                        <h4>
                                            <i class="icon-menu font-blue"></i>
                                            شروط المسابقة
                                        </h4>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <p>آخـر موعد لقبول قسيمة الاشتراك بالمسابقة</p>

                                <div class="col-xs-12 col-md-6">
                                    <div class="custom-input" show-errors="">
                                        <label for="promotionName"> يوم</label>
                                        <input ng-model="dataForMemberCertificate.promotionName" ng-required="true" maxlength="100" autocomplete="off" ng-class="{'edited':ContactForm.promotionName.$dirty}" rows="3" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" name="promotionName" type="text" required="required">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="custom-input" show-errors="">
                                        <label for="promotionName">  عدد قسائم المسابقة </label>
                                        <input ng-model="dataForMemberCertificate.promotionName" ng-required="true" maxlength="100" autocomplete="off" ng-class="{'edited':ContactForm.promotionName.$dirty}" rows="3" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" name="promotionName" type="text" required="required">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="custom-input">
                                        <label for="promoStartDateString">تاريخ  </label>
                                        <date-control name="promoStartDateString" class="datepickgreg" isrequired="true"  onkeydown="return false;"  autocomplete="off" placeholder="اضغط لتحديد التاريخ " mydate="dataForMemberCertificate.startDate" title="هـ"><div style="padding-right:0 !important;" class="col-md-12 col-xs-12 no-padding input-group date form_datetime form_datetime bs-datetime"><div class="custom-date-input"><input type="text" name="promoStartDateString" placeholder="اضغط لتحديد التاريخ " class="WSSCalender ng-empty ng-valid ng-valid-required datepick form-control hasCalendarsPicker ng-touched" ng-disabled="isDisabled" ng-readonly="isReadonly" ng-required="isRequired" ng-model="mydate" readonly="readOnly"></div><div class="custom-date-button"><button class="WSSCalenderSwitch ng-binding" type="button">هـ</button></div></div></date-control>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="custom-input">
                                        <label for="promoStartDateString">الموافق  </label>
                                        <date-control name="promoStartDateString" class="datepickgreg" isrequired="true"  onkeydown="return false;"  autocomplete="off" placeholder="اضغط لتحديد التاريخ " mydate="dataForMemberCertificate.startDate" title="هـ"><div style="padding-right:0 !important;" class="col-md-12 col-xs-12 no-padding input-group date form_datetime form_datetime bs-datetime"><div class="custom-date-input"><input type="text" name="promoStartDateString" placeholder="اضغط لتحديد التاريخ " class="WSSCalender ng-empty ng-valid ng-valid-required datepick form-control hasCalendarsPicker ng-touched" ng-disabled="isDisabled" ng-readonly="isReadonly" ng-required="isRequired" ng-model="mydate" readonly="readOnly"></div><div class="custom-date-button"><button class="WSSCalenderSwitch ng-binding" type="button">هـ</button></div></div></date-control>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="custom-input" show-errors="">
                                        <label for="promotionName">  من الرقم </label>
                                        <input ng-model="dataForMemberCertificate.promotionName" ng-required="true" maxlength="100" autocomplete="off" ng-class="{'edited':ContactForm.promotionName.$dirty}" rows="3" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" name="promotionName" type="text" required="required">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="custom-input" show-errors="">
                                        <label for="promotionName"> الي الرقم </label>
                                        <input ng-model="dataForMemberCertificate.promotionName" ng-required="true" maxlength="100" autocomplete="off" ng-class="{'edited':ContactForm.promotionName.$dirty}" rows="3" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" name="promotionName" type="text" required="required">
                                    </div>
                                </div>


                               <div class="clearfix"></div>


                                <div class="col-md-12">
                                    <p>
                                        ((  الشروط   ))<br />
                                        1-	الحصول على قسيمة المسابقة مجاناً دون اشتراط الشراء..<br />
                                        2-	الإجابة على أسئلة المسابقة..<br />
                                        3-	كتابة الاسم والعنوان ورقم الهاتف بخط واضـح..<br />
                                        4-	آخـر موعد لقبول قسيمة الاشتراك بالمسابقة . يوم يعبئ من قبل المنتسب بتاريخ يعبئ من قبل المنتسب الموافق: يعبئ من قبل المنتسب<br />
                                        5-	لا يجـوز لمن صدر له الترخيص وأبنائه وموظفيه الدخول والمشاركة بالمسابقة..<br />
                                        6-	وضع قسيمة الاشتراك في المكان المخصص لها .<br />
                                        7-	لا يحق للمـتـسابـق الدخول في المسابقة لأكـثـر من مرة واحدة.<br />
                                        8-	عدد قسائم المسابقة: (   يعبئ من قبل المنتسب ) ، من الرقم: يعبئ من قبل المنتسب	        إلــــــــــى الرقم: يعبئ من قبل المنتسب
                                    </p>
                                </div>


                            </div>

                        </div>


                    </div>
