<!-- header start-->
<header class="sp-header sp-header-register">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-md-12">
                <div class="sp-outer-logo">
                    <img class="sp-logo" ng-if="chamberSettings.id" ng-src="{{'/Logos/identity/'+chamberSettings.id+'.svg'}}" alt="logo">
                </div>
                <div class="sp-outer-logos">
                    <img ng-if="chamberSettings.id && !chamberSettings.isUnified" ng-src="{{'/Logos/'+chamberSettings.id+'.png'}}" alt="logo" class="sp-chamber-logo">
                    <img ng-if="loadChamberLogo && !chamberSettings.id" src="/Content/Theme/dist/img/loadingImg.gif" alt="logo">
                    <img src="../../../Content/Theme/assets/img/2030.svg" alt="" class="logo-2030" />
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end-->

<div class="custom-regi">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="sp-main-box sp-register-box sp-forget-box form-wizard register-pg" id="form_wizard_1">
                    <div class="sp-main-title">
                        <h2>
                            {{isLockPage ? 'فك قفل الحساب':'استرجاع حسابك'}} 
                        </h2>
                        <a class="sp-main-button sp-main-sm-button pull-left" href="/#/Login">
                            العودة 
                        </a>
                    </div>

                    <div ng-if="!valideCode">
                        <form class="sp-main-form rotate-in" id="CheckForm" name="CheckForm" novalidate="novalidate" ng-hide="showCodeEntryWindow">
                            <div class="sp-register-form">
                                <div class="row row-model" ng-if="ForgetType==2">

                                    <div class="col-md-12 col-xs-12" ng-if="chamberSettings.isUnified && chamberSettings.id === 888">
                                        <div class="custom-input ">
                                            <label for="date">الغرفة  </label>
                                            <!--{{invisible}}-->
                                            <ui-select ng-model="ForgetModel.ChamberId" ng-change="onChamberDomainChange()" reset-search-input="true" theme="selectize" ng-required="true">
                                                <ui-select-match>
                                                    <span class="selected-value" ng-bind="$select.selected.chamberName"></span>
                                                    <a class="fa fa-times clear-button" ng-click="$select.clear($event);"></a>
                                                </ui-select-match>
                                                <ui-select-choices repeat="c.chamberId as c in ChamberList | filter: $select.search">
                                                    <small ng-bind-html="c.chamberName"></small>
                                                </ui-select-choices>
                                            </ui-select>
                                            <div ng-messages="CheckForm.ChamberId.$error" ng-if="CheckForm.ChamberId.$dirty">
                                                <p class="text-danger" ng-message="required">من فضلك أختر الغرفة</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                                            <label for="MemberID"> رقم الهوية / الإقامة  </label>
                                            <div class="input-icon left">
                                                <input type="text" ng-required="true" maxlength="10" name="IdentityNo" autocomplete="off" ng-model="ForgetModel.IdentityNo" autofocus
                                                       class="form-control IdentityNo"
                                                       placeholder="رقم الهوية / الإقامة" restrict-input="{type: 'digitsOnly'}" ng-pattern="identityPattern">
                                            </div>
                                            <div ng-messages="CheckForm.IdentityNo.$error"
                                                 ng-if=" CheckForm.IdentityNo.$dirty  || isFormSubmitted">
                                                <p class="errors error-msg" ng-message="required">من فضلك ادخل رقم الهوية / الإقامة</p>
                                                <p class="errors error-msg" ng-message="pattern">من فضلك ادخل رقم الهوية أرقام وتبدأ ب 1 أو 2</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="sp-main-title">
                                <h2>
                                    طريقة الإرسـال
                                </h2>
                            </div>


                            <div class="sp-register-form">
                                <div class="form-group switch-control">
                                    <div class="sp-forget-way" id="SwitchRow" ng-repeat="way in ForgetWays" ng-hide='way.key === 2 && chamberSettings.useAbshir == false'>
                                        <label>
                                            <input type="radio" ng-required="true" id="id_{{$index}}" name="id_{{$index}}" ng-model="ForgetModel.ForgetWay" value="{{way.key}}">
                                            {{way.name}}
                                        </label>
                                    </div>

                                </div>
                                <div ng-if="!ForgetModel.ForgetWay  && isFormSubmitted">
                                    <p class="errors error-msg">من فضلك أختر طريقة الإرسال</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <div class="g-recaptcha" vc-recaptcha size="normal"
                                                 theme="'light'" key="captcha.captchaKey" lang="ar"
                                                 ng-model="captcha.captchaKey" name="captchaKey"
                                                 ng-required="true"
                                                 on-create="setWidgetId(widgetId)" on-success="setResponse(response)"
                                                 on-expire="cbExpiration()">
                                            </div>
                                            <div ng-messages="CheckForm.captchaKey.$error"
                                                 ng-if="CheckForm.captchaKey.$dirty ||
                                                 isFormSubmitted">
                                                <p class="text-danger" ng-message="required">من فضلك قُم بالتحديد</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-actions">
                                    <button type="submit" ng-disabled="CheckForm.$invalid" ng-click="sendPassword(ForgetModel,CheckForm,$event);" class="sp-main-button">
                                        {{isLockPage ? 'إرسال':'إستعادة'}}
                                    </button>
                                </div>
                            </div>
                            
                        </form>

                        <div class="sp-register-form" ng-if="showCodeEntryWindow">
                            <form name="forgetPasswordForm">
                                <p class="sp-main-size">
                                    الرجاء إدخال رقم التحقق الذي تم إرساله
                                </p>

                                <div class="form-group">
                                    <input ng-if="ForgetModel.ForgetWay === '1' || ForgetModel.ForgetWay === '3' " type="text" ng-required="true" name="code" 
                                           ng-maxlength="4" prevent-typing-greater
                                           maxlength="4"  only-Int autocomplete="off"
                                           ng-model="ForgetModel.Code" class="form-control" placeholder="رمز التحقق">

                                    <input ng-if="ForgetModel.ForgetWay === '2'" type="text" ng-required="true" name="code" 
                                           ng-maxlength="6" prevent-typing-greater
                                           maxlength="6" only-Int autocomplete="off"
                                           ng-model="ForgetModel.Code" class="form-control" placeholder="رمز التحقق">

                                    <div ng-messages="forgetPasswordForm.code.$error" ng-if="forgetPasswordForm.code.$dirty">
                                        <p class="text-danger error-msg" ng-message="required">من فضلك ادخل رمز التحقق</p>
                                        <p class="text-danger error-msg" ng-message="minlength">من فضلك ادخل رمز يحتوي علي  4 ارقام</p>
                                    </div>
                                </div>
                                <p class="sp-main-size" style="color:#8998AA">
                                    الوقت المتبقي لانتهاء المدة المسموحه لإدخال رمز التحقق:   {{ForgetPasswordRecoverTimer}}
                                </p>

                            </form>
                        </div>
                    </div>

                    <div class="sp-register-form" ng-if="valideCode">
                        <form role="form" name="changePass" novalidate="novalidate">
                            <p class="sp-main-size">
                                الرجاء إدخال كلمة المرور الجديدة
                            </p>

                                    <div class="form-group form-md-line-input form-md-floating-label has-success">
                                        <label for="newPassword"> كلمة المرور الجديدة</label>
                                        <div class="input-icon left">
                                            <input name="newPassword" type="password" ng-model="ForgetModel.NewPassword" maxlength="30" minlength="8"
                                                   ng-pattern="/(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{8,30})$/" ng-required="true"
                                                   class="form-control" autocomplete="off" />
                                        </div>
                                        <div ng-messages="changePass.newPassword.$error" ng-if="changePass.newPassword.$dirty || isSubmitted">
                                            <p class="text-danger" ng-message="required">من فضلك ادخل كلمة المرور</p>
                                            <p class="text-danger" ng-message="pattern">يجب ألا تقل كلمة المرور عن 8 خانات تحتوى على الاقل على رقم وحرف    </p>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label has-success">
                                        <label for="confirmNewPassword">تأكيد كلمة المرور الجديدة</label>
                                        <div class="input-icon left">
                                            <input class="form-control" ng-required="true" maxlength="30" minlength="8" value="" name="confirmNewPassword"
                                                   valid-password-c="ForgetModel.NewPassword" type="password" ng-model="ForgetModel.ConfirmNewPassword" />
                                        </div>
                                        <div ng-messages="changePass.confirmNewPassword.$error" ng-if="changePass.confirmNewPassword.$dirty || isSubmitted">
                                            <p class="text-danger" ng-message="required">من فضلك ادخل كلمة المرور الجديدة</p>
                                            <p class="text-danger" ng-message="noMatch"> كلمات المرور غير متشابه</p>
                                        </div>
                                    </div>
                                <div class="form-actions">
                                        <button type="submit" ng-click="ResetPassword(changePass,$event);" class="sp-main-button">
                                            حفظ
                                        </button>
                                </div>
                        </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


