<div class="commercial-subscription">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="packages-title">
                    <h3>
                        شروط استخدام خدمة الشريك التجاري وأحكامه
                    </h3>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="commercial-subscription-id text-right">
                    <h4>
                        <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                        التغييرات على الاتفاقيات
                    </h4>
                    <!--<p>
                        يجوز أن نجري أحيانًا تغييرات على الاتفاقيات لأسباب صالحة، مثل تحسين الوظائف أو الميزات القائمة أو إضافة وظائف أو ميزات جديدة إلى الخدمة، أو تطبيق تحسينات في العلوم والتكنولوجيا وتعديلات تقنية معقولة على الخدمة، وضمان قابلية تشغيل الخدمة أو أمنها، وذلك لأسباب قانونية أو تنظيمية. وحين نقوم بتغييرات مادية على الاتفاقيات، سنرسل إليك إشعارًا يكون مناسبًا للظروف الكامنة، مثلاً من خلال عرض إشعار بارز أو طلب موافقتك ضمن الخدمة أو من خلال إرسال بريد إلكتروني إليك. في بعض الحالات، سوف نرسل إليك إشعارًا مسبقًا وسيشكّل استخدامك المتواصل للخدمة بعد إجراء التغييرات قبولاً منك للتغييرات. بالتالي، يُرجى التأكد من قراءتك لأي إشعار مماثل بعناية. أما إذا لم تكن ترغب في الاستمرار باستخدام الخدمة بموجب النسخة الجديدة من الاتفاقيات، فيمكنك إنهاء حسابك من خلال الاتصال بنا. وفي حال تلقيت فترة تجريبية أو اشتراكًا مدفوعًا من خلال جهة خارجية، فيجب أن تلغي الاشتراك المدفوع المطبّق من خلال هذه الجهة الخارجية.
                    </p>-->
                    <!--{{ConditionsAndAgreements}}-->

                    <p ng-bind-html="ConditionsAndAgreements"></p>
                </div>
            </div>

        </div>
    </div>
</div>
