 <div class="rasl p-top-lg p-bottom-lg grey-color">
    <div class="container">
        <div class="row">
            <div class="box-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-404">
                            <div class="number font-green"> 404 </div>
                            <div class="details">
                                <h3>عفواً,  الصفحة المطلوبة غير موجودة.</h3>
                                <p> 
                                    <br>
                                    <a href="/#/Home"> العودة للرئيسية </a>  
                                </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

 